body {
    font-family: Arial;
    background: linear-gradient(to right, #667eea, #764ba2);
    color: white;
    text-align: center;
}

.container {
    margin-top: 100px;
}

input, button {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

button {
    background: #ff9800;
    color: white;
    border: none;
}